.features{
  display:flex;
  justify-content:center;
  gap:60px;
  padding:80px 10%;
  text-align:center;
  flex-wrap:wrap;
}

.feature-box{
  max-width:300px;
}

.feature-box img{
  width:60px;
  height:60px;
  margin-bottom:15px;
}

.feature-box h3{
  font-size:22px;
  margin-bottom:10px;
  color:#0b3c49;
}

.feature-box p{
  font-size:15px;
  color:#555;
  line-height:1.6;
}

.feature-box:hover{
  transform:translateY(-8px);
  transition:0.3s;
}
