.gallery-page{
  padding:120px 10%;
  text-align:center;
}

.gallery-page h1{
  margin-bottom:40px;
  font-size:40px;
}
.gallery-grid-drinks,
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:25px;
}

.gallery-grid img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:8px;
  transition:0.3s;
}
.gallery-grid-drinks img:hover,
.gallery-grid img:hover{
  transform: translateY(-10px);

}
.gallery-grid-drinks img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:8px;
    transition:0.3s;
}